# EVM private key, which can be used by ethers.Wallet
PRIVATE_KEY=
# ask the admin for the project id
PROJECT_ID=
# polymarket
EVM_RPC_137=https://polygon-rpc.com/
# user assets wss (optional, defaults to wss://universal-app-ws-proxy.particle.network)
# UNIVERSALX_WSS_URL=
